{% extends 'base.html'%}
{% block content %}
{% load static %}
 <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Product</th>
                            <th scope="col" width="120">Quantity</th>
                            <th scope="col" width="120">Price</th>
                            <th scope="col" class="text-right" width="200"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.images.url }}" height="100" class="img-sm">
                                    </div>
                                    <figcaption class="info">
                                        <a href="#" class="title text-dark">{{ cart_item.product.slug }}</a>

                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <!-- col.// -->
                                <div class="col">
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light" type="button" id="button-plus"><i
                                                    class="fa fa-minus"></i></button>
                                        </div>
                                        <input type="text" class="form-control" value="{{ cart_item.quantity }}">
                                        <div class="input-group-append">
                                            <a href="{% url 'add_cart' cart_item.product.id %}" class="btn btn-light" type="button" id="button-minus"><i
                                                    class="fa fa-plus"></i></a>
                                        </div>
                                    </div> <!-- input-group.// -->
                                </div> <!-- col.// -->
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">Rs{{ cart_item.sub_total }} each</var>

                                </div> <!-- price-wrap .// -->
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-3">
  </div>

               <div class="col-xl-5">
	          <div class="row mt-5 pt-3">
	          	<div class="col-md-12 d-flex mb-5">
	          		<div class="cart-detail cart-total p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex" text="dark">
		    						<span>Subtotal</span>
		    						<span>Rs{{total}}</span>
		    					</p>
		    					<p class="d-flex" text="dark">
		    						<span>Delivery</span>
		    						<span>Free</span>
		    					</p>
		    					<p class="d-flex" text="dark">
		    						<span><b>Discount</b></span>
		    						<span>00</span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>Rs{{total}}</span>
		    					</p>
								</div>
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right"><b color="darkblue">Rs{{total}}</b></dd>
                        </dl>


                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>
                        <a href="{% url 'place_order' %}" class="btn btn-primary btn-block"> Checkout </a>
                        <a href="{% url 'shopping' %}" class="btn btn-light btn-block">Continue Shopping</a>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>



{% endblock %}</div>